<section id="target-user" class="section-card text-center">

    <h2 class="mb-5">Who Is This For?</h2>

    <div class="row justify-content-center g-4">

        <!-- LECTURER -->
        <div class="col-md-4 col-sm-6 d-flex justify-content-center">
            <div class="card user-card">

                <img src="/static/landing/assets/images/lecturer.jpeg" 
                     class="user-img" 
                     alt="Lecturer">

                <h5>Lecturer</h5>

            </div>

        </div>

        <!-- STAFF -->
        <div class="col-md-4 col-sm-6 d-flex justify-content-center">
            <div class="card user-card">

                <img src="/static/landing/assets/images/staff.png" 
                     class="user-img" 
                     alt="Staff">

                <h5>Staff</h5>

            </div>
        </div>

    </div>

</section>