<section id="flow" class="section-card">

    <div class="container">

        <h2 class="text-center mb-5">System Flow</h2>

        <div class="row g-4">

            <!-- USER FLOW -->
            <div class="col-md-6">
                <div class="flow-card flow-clickable text-center"
                     data-bs-toggle="modal"
                     data-bs-target="#userFlowModal">

                    <h4 class="flow-title">User Flow</h4>

                    <img src="/static/landing/assets/images/userflow.png"
                         class="img-fluid flow-img"
                         alt="User Flow">

                    <small class="flow-hint">Click to enlarge</small>

                </div>
            </div>

            <!-- ADMIN FLOW -->
            <div class="col-md-6">
                <div class="flow-card flow-clickable text-center"
                     data-bs-toggle="modal"
                     data-bs-target="#adminFlowModal">

                    <h4 class="flow-title">Admin Flow</h4>

                       <img src="/static/landing/assets/images/adminflow.png"
                         class="img-fluid flow-img"
                         alt="Admin Flow">

                    <small class="flow-hint">Click to enlarge</small>

                </div>
            </div>

        </div>

    </div>

</section>